body {
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    overflow-y: scroll;
}

.closed {
    display: none;
}

.nbus-nagasaki-logo {
    height: 30px;
    width: 160px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}

.action-bar-search-button {
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    height: 46px;
    line-height: 18px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 46px;
    zoom: 1;
}

.search-icon {
    -webkit-background-size: contain;
    background-image: url("../images/search.png");
    background-size: contain;
    cursor: pointer;
    display: block;
    height: 24px;
    left: 11px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 24px;
    zoom: 1;
}

.action-bar-menu-button {
    cursor: pointer;
    display: block;
    height: 46px;
    left: 0px;
    line-height: 18px;
    position: absolute;
    text-align: center;
    top: 0px;
    width: 46px;
    zoom: 1;
}

.back-icon {
    -webkit-background-size: contain;
    background-image: url("../images/back.png");
    background-size: contain;
    height: 24px;
    left: 11px;
    position: absolute;
    top: 11px;
    width: 24px;
}

.menu-icon {
    -webkit-background-size: contain;
    background-image: url("../images/menu.png");
    background-size: contain;
    height: 24px;
    left: 11px;
    position: absolute;
    top: 11px;
    width: 24px;
}

.logo {
    line-height: 8px;
}

.mobile-action-bar {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto;
    background: #fff;
    border-color: rgb(170, 170, 170);
    border-style: solid;
    border-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    cursor: pointer;
    display: block;
    font-family: Roboto, UILanguageFont, Arial, sans-serif;
    height: 46px;
    left: 0px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 343px;
    z-index: 984;
    zoom: 1;
}

.mobile-search-bar {
    box-sizing: border-box;
    background-color: #fff;
    height: 100%;
    padding: 0 46px 0 0;
    width: 100%;
    transition: all .2s ease;
    background: #fff;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
}

.mobile-search-container {
    box-sizing: border-box;
    display: inline-block;
    padding-right: 20px;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.search-box {
    font-size: 21px;
    height: 40px;
    padding: 0 5px 0 10px;
    background: transparent;
    border: none;
    vertical-align: top;
    width: 100%;
}

.search-box:focus {
    outline: 0;
}

.mobile-search-bar .close-button {
    cursor: pointer;
    display: inline-block;
    height: 46px;
    position: absolute;
    top: 0;
    width: 46px;
    right: 0;
}

.mobile-action-bar .close-icon {
    background-image: url("../images/close.png");
    background-size: contain;
    height: 24px;
    left: 11px;
    position: absolute;
    top: 11px;
    width: 24px;
}

.search-buttons {
    margin: 10px;
    font-size: 14px;
}

.nav>li>a {
    padding: 6px 6px;
}

.wrapper {
    margin: 0;
    /*margin: 138px 0 0 0;*/
}

.ui-menu {
    margin: 0;
    background-color: #FFF;
    border: 1px solid #CCF;
    font-size: 1.3em;
    text-align: left;
}

.ui-menu {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding: 3px 0 3px 4px;
}

.ui-menu li:hover {
    background: #EEE;
    cursor: pointer;
}

.route {
    float: left;
}

.ads {
    text-align: center;
}

.show-past-timetable {
    cursor: pointer;
}

#action-bar-logo {
    display: none;
}
/*base code*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}
/*the animation definition*/

@-webkit-keyframes bounce {
    0%, 100%, 20%, 53%, 80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

@keyframes bounce {
    0%, 100%, 20%, 53%, 80% {
        -webkit-transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -30px, 0);
        -ms-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }
    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
        -webkit-transform: translate3d(0, -15px, 0);
        -ms-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        -ms-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom
}

h2 {
    display: none;
}

h3 {
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

h3 .ruby {
    font-size : 0.8em;
    color : #666;
}

.mobile {
    display: block;
}

#content {
    text-align: center;
    margin: 0 auto;
    width: 92%;
}

#route-tabs {
    margin: 0 auto;
}

#intro {
    height: 46px;
}

.from,
.to {
    text-align: center;
    font-size: 1.4em;
}

.detail {
    text-align: center;
    font-size: 0.9em;
    color: #666;
}

.spot-detail {
    text-align: center;
    font-size: 0.6em;
    color: #666; 
}

#route-tabs {
    margin: 0 0 10px 0;
}

.excuse {
    margin: 30px;
}

#mobile-btn-change-img {
  width: 30px;
  position: absolute;
  top: 8px;
  left: 4px; 
}

.tag {
    margin : 5px;
}

.about-spot {
    font-size : 0.7em
}

@media screen and (min-width: 641px) {
    .pc {
        display: block;
    }
    .sp {
        display: none;
    }
}
@media screen and (max-width: 640px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
}

.record {
    padding : 10px 0 10px 0;
    border-top : 1px dotted #999;
}

.touchstyle { 
    background-color: #d9edf7;
}
.notouchstyle { 
    background-color:transparent;
}
#share ul {
    overflow: hidden;
    padding : 0;
}
#share li {
    width: 50px;
    float: left;
    margin : 5px;
    list-style-type: none;
}
#share li:first-child {
    margin-left: 0;
}
#share li a {
    display: block;
    width: 50px;
    height: 50px;
}

.modal-footer {
    text-align:left;
}
#detail-time {
    font-size : 1.2em;
    text-align: center;
}
#detail-limit {
    font-size : 1.2em;
    text-align: center;
}

.record .spot-name {
    display : none;
}