          <h5>ユーザ用</h5>
          <ul class="nav nav-sidebar">
            <li><a href="#">検索統計</a></li>
            <li><a href="/configure/opinion/service">お問合せ(サービスについて)</a></li>
            <li><a href="/configure/opinion/system">お問合せ(システムについて)</a></li>
          </ul>
          
          <hr />
          
          <h5>管理用</h5>  
          <ul class="nav nav-sidebar">
            <li><a href="/configure/busstop">停留所設定</a></li>
            <li><a href="/configure/timetable">テーブルキャッシュ</a></li>
          </ul>