<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">nbus.jp</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="nav-bar">
                    <a href="#history" class="dropdown-toggle" data-toggle="dropdown">検索履歴</a>
                    <ul class="dropdown-menu" id="searchHistory">
                        <li><a href="#">検索履歴はありませんでした。</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">お問合せ</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span id="time"></span><b class="caret"></b>
                    </a>
                    <!--<ul class="dropdown-menu">
                        <li>
                            <a href="#" id="todayEvent"></a>
                        </li>
                        <li class="divider"></li>
                    </ul>-->
                </li>
            </ul>

        </nav>
    </div>
</div>
